* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html {
    background-color: black;
}


/* BG IMAGES */

.img {
    width: 100%;
    opacity: 20%;
    display: block;
    position: relative;
}


/* NAVBAR */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.navbar a {
    float: left;
    padding: 15px;
    font-size: 35px;
    color: white;
    text-decoration: none;
    width: 25%;
    font-weight: 200;
    text-align: center;
    background-color: rgba(31, 31, 31, 0.8);
}

.navbar a:hover {
    background-color: rgba(51, 51, 51, 0.6);
}


/* HEADER */

h1 {
    font-size: 4vw;
    font-weight: 200;
    color: white;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.dl {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 20px;
    border-radius: 100px;
    font-size: 1.875rem;
    font-weight: 200;
    padding: 20px;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}

.dl:hover {
    background-color: rgb(65, 65, 65);
}

.btn-div {
    margin: 100px;
}

#about {
    display: flex;
    flex-direction: row;
}

p {
    font-size: 2.5rem;
    color: white;
    font-weight: 200;
    padding: 10px;
    margin: 30px;
    margin-bottom: 10px;
    margin-top: 0%;
}

h2 {
    font-size: 3rem;
    color: white;
    font-weight: 200;
    padding: 10px;
    margin: 30px;
    margin-bottom: 0;
    margin-top: 22%;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}

h3 {
    margin: 10px;
    margin-left: 30px;
    font-size: 1.8rem;
    color: white;
    font-weight: 200;
    padding: 10px;
}

.skill {
    margin: 10px;
    margin-left: 30px;
    font-size: 1.3rem;
    color: white;
    font-weight: 400;
    padding: 10px;
    background-color: rgba(200, 47, 73, 0.85);
    border-radius: 50px;
    text-align: right;
    padding-right: 30px;
}

.py {
    width: 80%;
}

.js {
    width: 40%;
}

.html {
    width: 70%;
}

.css {
    width: 60%;
}

#work {
    display: flex;
    flex-direction: row;
}

.project {
    margin: 20px;
    margin-top: 22%;
}