* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 10px
}

.bg-img {
    width: 100%;
    filter: brightness(20%);
    display: block;
}

.main-title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    position: absolute;
    top: 5vh;
    font-weight: 200;
    color: white;
    text-align: center;
    font-size: 4vw;
    top: 20%;
}

.dl {
    position: absolute;
    padding: 0.8em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    top: 45%;
    border: 1px solid white;
    border-radius: 500px;
    font-size: 1.8vw;
    text-decoration: none;
    color: white;
    background-color: transparent;
    font-weight: 200;
}

.dl:hover {
    background-color: rgba(139, 139, 139, 0.25);
}

.navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.nav {
    width: 25%;
    background-color: rgba(31, 31, 31, 0.8);
    text-align: center;
    text-decoration: none;
    font-size: 2vw;
    font-weight: 200;
    color: white;
    padding: 0.4em;
}

.nav:hover {
    background-color: rgba(56, 56, 56, 0.8);
}

.about-title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    position: absolute;
    top: 10%;
    left: 10%;
    display: flex;
    flex-direction: row;
}

h2 {
    font-size: 4vw;
    color: white;
    font-weight: 200;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 8px;
}

.skills {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ab {
    width: 90%;
    font-size: 2vw;
    color: white;
    font-weight: 200;
    margin-top: 1vh;
}

.container {
    width: 50%;
}

li {
    list-style-type: none;
}

h3 {
    font-size: 2vw;
    font-weight: 400;
}

.skill {
    padding: 0.2em;
}

.html {
    color: red;
}

.css {
    color: rgb(0, 209, 209);
}

.js {
    color: yellow;
}

.sql {
    color: rgb(0, 175, 0);
}

.php {
    color: rgb(133, 62, 22);
}

.python {
    color: violet;
}

img {
    display: block;
    line-height: 0;
}

.col {
    display: flex;
    flex-direction: row;
}

.d {
    width: 50%;
}

.work {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.work-cols {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 10%;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    height: 100%;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
}

.project {
    margin-right: 1em;
    margin-top: 1em;
    padding: 0.8em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: 1px solid white;
    border-radius: 500px;
    font-size: 1.8vw;
    text-decoration: none;
    color: white;
    background-color: transparent;
    font-weight: 200;
}

.project:hover {
    background-color: rgba(139, 139, 139, 0.25);
}